@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

article:hover .bg-gradient-to-t {
    background: rgba(13, 31, 81, 0.8); /* blue-900 with opacity */
}
* {
font-family: "Lexend Deca", sans-serif;
}

@font-face {
    font-family: 'Hilmar';
    src: url('../css/fonts/Hilmar-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4{
    font-family: 'Hilmar' !important;
}

.blog-content p{
    margin-bottom: 17px;
    margin-top: 17px;
}
.blog-content h1, .blog-content h2{
    font-size: 24px;
    margin-bottom: 22px;
    font-weight: 800;
}
.blog-content img{
    height: 300px;
    width:60%;
    margin: 0 auto;
    border-radius: 20px;
}
.sticky {
    position: fixed !important;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.owl-nav {
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.owl-nav button {
    background: none;
    border: none;
    font-size: 2rem;
    /* color: #163466; */
    cursor: pointer;
}
.owl-nav button:hover {
    background: none !important;
    color:black !important;
}
.owl-nav button.owl-prev {
    left: -70px;
}
.owl-nav button.owl-next {
    right: -70px;
}
.owl-dots{display: none;}

.owl-prev span,  .owl-next span {
   font-size: 80px;
}