@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

article:hover .bg-gradient-to-t {
    background: rgba(13, 31, 81, 0.8); /* blue-900 with opacity */
}

[x-cloak] { display: none !important; }
@font-face {
    font-family: "Hilmar";
    src: url("../fonts/Hilmar-Bold.otf") format("truetype");
    font-style: bold;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Hilmar";
    src: url("../fonts/Hilmar-ExtraLight.otf") format("truetype");
    font-style: extralight;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Hilmar";
    src: url("../fonts/Hilmar-Light.otf") format("truetype");
    font-style: light;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Hilmar";
    src: url("../fonts/Hilmar-Medium.otf") format("truetype");
    font-style: medium;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Hilmar";
    src: url("../fonts/Hilmar-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Hilmar";
    src: url("../fonts/Hilmar-SemiBold.otf") format("truetype");
    font-style: semibold;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Hilmar";
    src: url("../fonts/Hilmar-Thin.otf") format("truetype");
    font-style: thin;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "LexendDeca";
    src: url("../fonts/LexendDeca-Bold.ttf") format("truetype");
    font-style: bold;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "LexendDeca";
    src: url("../fonts/LexendDeca-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body,
html {
    font-family: "LexendDeca";
    @apply bg-white dark:bg-slate-800;
    scroll-behavior: smooth;
}

.blog-content p{
    margin-bottom: 17px;
    margin-top: 17px;
}
.blog-content h1, .blog-content h2{
    font-size: 24px;
    margin-bottom: 22px;
    font-weight: 800;
}
.blog-content img{
    height: 300px;
    width:60%;
    margin: 0 auto;
    border-radius: 20px;
}
.sticky {
    position: fixed !important;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.owl-carousel-1 .owl-nav {
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.owl-carousel-1  .owl-nav button {
    background: none;
    border: none;
    font-size: 2rem;
    /* color: #163466; */
    cursor: pointer;
}
.owl-carousel-1 .owl-nav button:hover {
    background: none !important;
    color:black !important;
}
.owl-carousel-1 .owl-nav button.owl-prev {
    left: -70px;
}
.owl-carousel-1 .owl-nav button.owl-next {
    right: -70px;
}
.owl-carousel-1 .owl-dots{display: none;}

.owl-carousel-1 .owl-prev span,  .owl-next span {
   font-size: 80px;
}

.table-custom {
    border-collapse: separate;
    border-spacing: 0 1rem; /* Adds space between rows */
}
.table-custom td {
    border-bottom: 2px solid #065f46; /* green-800 */
    /* background-color: rgba(255, 255, 255, 0.8); White background with some transparency */
}
.table-custom td {
    border-left: 2px solid #065f46; /* green-800 */
}
.owl-carousel-1 .owl-prev span, .owl-next span{
    font-size: 30px !important;
}



* {
    cursor: none;
  }
  .cursor {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.356); */
    height: 30px;
    width: 30px;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    @apply rounded-full border border-brandgreen dark:border-white;
  }
  .cursor::after, .cursor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    @apply bg-brandgreen dark:bg-white rounded-full;
  }
  .cursor::before {
    /* background-color: rgb(255, 255, 255); */
    @apply bg-brandgreen dark:bg-white;
  }
  .cursor.click::before {
    animation: click 1s ease forwards;
    @apply bg-brandyellow dark:bg-brandyellow;
    /* background-color: rgb(255, 255, 255); */
  }
  @keyframes click {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(7);
    }
  }



/* Jane Code */
/**********The home page slider **********/
 .myslider .owl-dots{
    /* left: calc(50% - .5rem); */
    line-height: 1;
    padding-top: .5rem;
    position: relative;
    transform: rotate(180deg);
    white-space: nowrap;
    writing-mode: vertical-rl;
    top: auto;
    position: absolute;
    bottom: 3rem;
    right: 1rem;
 }


 .myslider  .owl-theme .owl-dots .owl-dot.active span, .myslider .owl-theme .owl-dots .owl-dot:hover span {background: #f3cb4d;}
 .myslider .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 10px;
    background: #fff;
    border-radius: 30px;
}

.myslider .owl-nav .owl-next span,.myslider .owl-nav .owl-prev span{margin-top: -4px;}
.myslider .owl-theme .owl-nav [class*=owl-] {
  margin: 0px!important;
  padding: 0px!important;
   width: 30px;
  height: 30px;
  background-color: #f3cb4d;
  border-radius: 5px;
  padding: 0px 15px;
  line-height:30px
}

.myslider .owl-theme .owl-nav [class*=owl-]:hover {background-color:#1d3463;}
.myslider .owl-theme .owl-nav {
    margin-top: -4rem;
    position: absolute;
    z-index: 3;
    font-size: 2rem;
    line-height: 2rem;
    color: #fff;
    left: 5%;
}

.myslider .owl-carousel .owl-nav button.owl-next, .myslider .owl-carousel .owl-nav button.owl-prev{
     background: #f3cb4d;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    width: 50px;
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 15px !important;
}
.grid.grid-cols-1 .col-span-1:nth-of-type(1){
  display: none!important;
}

.counter-container {
  display: inline-block;
}

.counter {
  font-weight: bold;
  transition: transform 0.5s ease;
}

/* Animation class */
.counter.animate {
  animation: countAnimation 1s ease-out forwards;
}

@keyframes countAnimation {
  from {
      transform: scale(0);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .intro-mobile .px-10 {
    padding:.5rem .5rem;
}
header nav.px-10{
  padding-left:1rem;
  padding-right:1rem;
}
 .myslider .owl-carousel .owl-item img {
  min-height: 420px;
  max-height: 420px;
}
.myslider .owl-theme .owl-nav {margin-top: -3rem;}
.myslider .owl-dots{display:none;}
.myslider .left-9{left:1rem;}
.myslider .py-5{padding-bottom:0px;padding-top: 4rem;}
.myslider h1{ 
  font-size: 1.875rem;
  line-height: normal;
}
.px-10 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
  
  }
